type hal_ledhal_default, domain, halserverdomain;

init_daemon_domain(hal_ledhal_default)

allow hal_ledhal_default hidl_base_hwservice:hwservice_manager { add };
allow hal_ledhal_default hal_ledhal_hwservice:hwservice_manager { add };
